@model List<pre_registration.Models.CuponDate>
    <script>
        $('.backToSelectDate').click(function () {
            $(".selectTime").hide();
            $(".selectDate").show();
            $('.selectDate').load('@Url.Action("returnToSelectDate", "Home")');
        });
        function selectCuponTime(id) {
            $('.recordForm').load('@Url.Action("recordForm", "Home")' + '?id=' + id);
            $(".selectTime").hide();
            $(".selectDate").hide();
            $('.recordForm').show();

        }
        $(document).ready(setCheckOutBar());
    </script>
<div>
    <h2>Выберите время</h2>
    @{ 
        int j = 1;
        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("ru-RU");
    }
    <a class="backToSelectDate">Вернуться к выбору даты</a>

    @*@foreach (var item in Model)
    {
        if (DateTime.Now.Date == item.date.Date && item.date.TimeOfDay < DateTime.Now.TimeOfDay)
        {
            continue;

        }
        <div class="timeButton">
            <div  onclick="selectCuponTime('@item.id')" class="cuponTime">@item.date.ToShortTimeString()</div>
        </div>
         
             j++;
          

    }*@
    <table width="80%" align="center">
        @for (int i = 0; i < Model.Count;)
        {
            if (DateTime.Now.Date == Model[i].date.Date && Model[i].date.TimeOfDay < DateTime.Now.TimeOfDay)
            {
                continue;

            }
            <tr>
                @for (int k = 0; k < 5; k++)
                {
                    if (i >= Model.Count)
                    {
                        <td></td>

                    }
                    else
                    {
                    <td>
                        <div class="timeButton">
                            <div onclick="selectCuponTime('@Model[i].id')" class="cuponTime">@Model[i].date.ToShortTimeString()</div>

                        </div>
                    </td>
                        i++;
                    }
                }
            </tr>
        }
    </table>
</div>