@model List<pre_registration.Models.CuponDate>
<div>
    @*<h2>Выберите дату</h2>*@
    <style type="text/css">
        td a {
            width: 100%;
            height: 100%;
            display: block;
            padding: 5px;
        }
    </style>
    <script>
        function showTimeLink()
        {
            $('.selectTime').show();
            $('.selectDate').hide();

        }
          
        $(document).ready(setCheckOutBar());
        @*$(document).ready(function () {
            $('.selectArea').load('@Url.Action("selectAreaForm", "Home")');
        });*@
    </script>
    <div>
        <br />
        @*<a class="backToSelectArea">Вернуться к выбору района</a>*@
        @{
            DateTime currentDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
            while (true)
            {
                if (currentDate.DayOfWeek != DayOfWeek.Monday)
                {
                    currentDate = currentDate.AddDays(-1);
                }
                else
                {
                    break;
                }
            }
        }
        <table border="1" class="table-calendar">
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {


                        <td style="width:100px; height:100px;" class="tdItem">
                            @{
                                int freeCupons = 0;
                                foreach (var item in Model)
                                {
                                    if (currentDate.Date == item.date.Date)//&& item.date.TimeOfDay > DateTime.Now.TimeOfDay)
                                    {
                                        if (DateTime.Now.Date == currentDate.Date && item.date.TimeOfDay < DateTime.Now.TimeOfDay)
                                        {
                                            continue;

                                        }

                                        freeCupons++;
                                    }

                                }
                            }
                            <div id="@currentDate.Ticks">
                                @if (currentDate < DateTime.Now.AddDays(-1) || freeCupons == 0)
                                {
                                    <div style="text-align:center;">
                                        @currentDate.ToString("dd.MM")
                                    </div>
                                }
                                else
                                {
                                    <script>
                                       
                                      
                                    </script>
                                    <div class="deleteDayButtonDiv">

                                        <img src="~/images/delete_sign1600.png" alt="Удалить талоны на этот день" class="deleteDayButtonImage" onclick="deleteDay('@currentDate', '@currentDate.Ticks')" />
                                    </div>
                                    <div onclick="$('.selectTime').load('@Url.Action("viewTime", "Cupon", new { selectedDay = currentDate, areaId = ViewBag.SelectedArea})'); showTimeLink()">
                                        <div style="text-align:center;">
                                            @currentDate.ToString("dd.MM")
                                        </div>
                                        <div>
                                            Свободных мест
                                            @freeCupons
                                        </div>
                                    </div>


                                }
                               
                            </div>
                        </td>



                        currentDate = currentDate.AddDays(1);
                    }

                </tr>
            }

        </table>
    </div>
</div>

<script>
    var selectedDayForDelete;
    var selectedDayDivId;
    $(document).ready(function () {
        if (isSuperUserCurrentArea()) {
            $('.deleteDayButtonDiv').show();
        }
        else
            $('.deleteDayButtonDiv').hide();

    });
    function deleteDay(currentDate, currentDiv) {
      
        ShowModalWindow('Удалить день?', 'Вы действительно хотите удалить', true);
        selectedDayForDelete = currentDate;
        selectedDayDivId = currentDiv;
    }
    //$(".deleteDayButtonImage").click(function () {

    //    ShowModalWindow('Удалить день?', 'Вы действительно хотите удалить', true);
    //    selectedDay = 
    //}); 
    function isSuperUserCurrentArea() {
        var result;
        $.ajax({
            async: false,
            url: '/home/isSuperUserCurrentArea',
            type: 'GET',
            contentType: "application/json",
            success: function (data) {
                result = data;
            }
        });
        return result;

    }
    $('#modDialog').on('hide.bs.modal', function () {
        var btn = $(this).find("input[type=submit]:focus");
        if (btn.val() == "Подтвердить") {
            if (RemoveDayCupons(selectedDayForDelete)) {
                var currentDateDiv = new Date(selectedDayForDelete);
                var qwe = new Date(2008, 0, 12);
                var newDate = '';
                if (currentDateDiv.getDate() < 9)
                    newDate += '0' + currentDateDiv.getDate() + '.';
                else
                    newDate += currentDateDiv.getDate() + '.';
                if (currentDateDiv.getMonth() < 9)
                    newDate += '0' + (+currentDateDiv.getMonth().valueOf() + 1);
                else
                    newDate += +currentDateDiv.getMonth().valueOf() + 1;

                $("#" + selectedDayDivId).empty();
                $("#" + selectedDayDivId).html('<div style="text-align:center;">' + newDate + '</div>')
            }
            

        }
    });
    function RemoveDayCupons(day) {
        var result;
        $.ajax({
            async: false,
            url: '/Cupon/RemoveDayCupons?day=' + day,
            type: 'GET',
            contentType: "application/json",
            success: function (isDeleted) {
                result = isDeleted;
            }
        });
        return result;
    }
</script>