@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2 class="titleHeadRow">@Localizer["Header"]</h2>
<div class="checkout-wrap">
    <ul class="checkout-bar">
        <li class="visited first">@Localizer["SelectArea"]</li>

        <li class="visited">@Localizer["SelectDate"]</li>

        <li class="visited">@Localizer["SelectTime"]</li>

        <li class="visited">@Localizer["Record"]</li>

        <li class="active">@Localizer["Finish"]</li>

    </ul>
</div>

<div class="titleHeadRow">


    <h2>@Localizer["HeaderPage"] </h2>
    <br />
    <div><h3>@Localizer["Message"]</h3> </div>
    <br />
    <div>
        <h3>  @Localizer["CancelMessage"] </h3>
    </div>

</div>
<script>

</script>