@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section scripts
    {
    <script type="text/javascript">
    var dateOptions = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'long',
        timezone: 'UTC',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    };

    var currentArea;
    $(document).ready(function () {
        $('.selectArea').load('@Url.Action("selectAreaForm", "Home")');
    });
    $(document).ready(setCheckOutBar());

    function backToSelectArea() {
        //  $(".selectArea").show();
        $('.recordForm').hide();
        $(".selectDate").hide();
        $(".selectTime").hide();
        $(".areaInfo").hide();
        window.location = '@Url.Action("returnToSelectArea", "Home")';
        // $('.selectArea').load('@Url.Action("returnToSelectArea", "Home")');

    }

    function backToSelectTime() {
        $('.recordForm').hide();

        $(".selectTime").show();
        console.log(GetSelectedDate());
        $('.selectTime').load('@Url.Action("returnToSelectTime", "Home")');

    }
    function backToSelectDate() {
        $(".selectTime").hide();
        $('.recordForm').hide();
        $(".selectDate").show();
        $('.selectDate').load('@Url.Action("returnToSelectDate", "Home")');
    }
    function GetArea() {
        var result;
        $.ajax({
            async: false,
            url: '/home/getSessionArea',
            type: 'GET',
            contentType: "application/json",
            success: function (area) {
                result = area;
            }
        });
        return result;
    }
    function GetSelectedDate() {
        var result;
        $.ajax({
            async: false,
            url: '/home/getSelectedDate',
            type: 'GET',
            contentType: "application/json",
            success: function (data) {
                result = data;
            }
        });
        return result;
    }
    function getSelectedCupon() {
        var result;
        $.ajax({
            async: false,
            url: '/home/GetSelectedCupon',
            type: 'GET',
            contentType: "application/json",
            success: function (data) {
                result = data;
            }
        });
        return result;

    }
    function setCheckOutBar() {
        var selectedArea = GetArea();
        var selectedDate = GetSelectedDate();
        var selectedCupon = getSelectedCupon();
        if (selectedCupon.id != 0) {
            var date = new Date(selectedCupon.date);
                       @if (Helpers.GetCulture(Context) == "be")
            {
                @Html.Raw("$('#firstPunkt').text(selectedArea.nameBY);");
            }
            else
            {
                @Html.Raw("$('#firstPunkt').text(selectedArea.name);");
            }
            $("#firstPunkt").attr('onClick', 'backToSelectArea()');
            $("#secondPunkt").text(date.toLocaleDateString());
            $("#secondPunkt").attr('onClick', 'backToSelectDate()');
            //$("#secondPunkt").html('<p onClick="backToSelectDate()">' + date.toLocaleDateString() + '</p>');
            //$("#thirdPunkt").html('<p onClick="backToSelectTime()">' + date.getHours() + ':' + (date.getMinutes() == 0 ? '00' : date.getMinutes()) + '</p>');
            $("#thirdPunkt").text(date.getHours() + ':' + (date.getMinutes() == 0 ? '00' : date.getMinutes()));
            $("#thirdPunkt").attr('onClick', 'backToSelectTime()');
            $("#forthPunkt").addClass('active');
            $("#thirdPunkt").addClass('visited');
            $("#secondPunkt").addClass('visited');
            $("#firstPunkt").addClass('visited');
            return;
        }
        if (selectedDate != undefined && selectedDate.length > 2) {
            var date = new Date(selectedDate);
                       @if (Helpers.GetCulture(Context) == "be")
            {
                @Html.Raw("$('#firstPunkt').text(selectedArea.nameBY);");
            }
            else
            {
                @Html.Raw("$('#firstPunkt').text(selectedArea.name);");
            }
            $("#firstPunkt").attr('onClick', 'backToSelectArea()');
            //$("#firstPunkt").html('<p onClick="backToSelectArea()">' + selectedArea.name + '</p>');
            //$("#secondPunkt").html('<p onClick="backToSelectDate()">' + selectedDate + '</p>');
            $("#secondPunkt").text(selectedDate);
            $("#secondPunkt").attr('onClick', 'backToSelectDate()');
            $("#thirdPunkt").text('@Localizer["SelectTime"]');
            $("#forthPunkt").removeClass();
            $("#thirdPunkt").removeClass();

            $("#thirdPunkt").addClass('active');
            $("#secondPunkt").addClass('visited');
            $("#firstPunkt").addClass('visited');
            return;

        }
        if (selectedArea.id != 0) {

           
            @if (Helpers.GetCulture(Context) == "be")
            {
                @Html.Raw("$('#firstPunkt').text(selectedArea.nameBY);");
            }
            else
            {
                
                @Html.Raw("$('#firstPunkt').text(selectedArea.name);");
            }

            
 
            $("#firstPunkt").attr('onClick', 'backToSelectArea()');
            $("#secondPunkt").removeClass();
            $("#thirdPunkt").removeClass();
            $("#forthPunkt").removeClass();
            $("#secondPunkt").text('@Localizer["SelectDate"]');
            $("#secondPunkt").addClass('active');
            $("#firstPunkt").addClass('visited');
            return;

        }
        if (selectedArea.id == 0) {
            $("#firstPunkt").text('@Localizer["SelectArea"]');
            $("#secondPunkt").text('@Localizer["SelectDate"]');
            $("#thirdPunkt").text('@Localizer["SelectTime"]');
            $("#secondPunkt").removeClass();
            $("#firstPunkt").removeClass();
            $("#forthPunkt").removeClass();
            $("#thirdPunkt").removeClass();
            $("#firstPunkt").addClass('active');
            $("#firstPunkt").addClass('first');
        }
    }
    </script>
}

    <div>
 
        <h2 class="titleHeadRow">@Localizer["Header"]</h2>
        <div class="checkout-wrap">
            <ul class="checkout-bar">
                <li id="firstPunkt" class="active first">
                    <a href="#">@Localizer["SelectArea"]</a>
                </li>

                <li id="secondPunkt" class="next ">@Localizer["SelectDate"]</li>

                <li id="thirdPunkt" class="next">@Localizer["SelectTime"]</li>

                <li id="forthPunkt">@Localizer["Record"]</li>

                <li id="lastPunkt">@Localizer["Finish"]</li>

            </ul>
        </div>
        @*<br /> <br />
        <br /><br />*@
        <div>
            <div class="areaInfo" style=""></div>
            <div class="selectArea">
            </div>

            <div class="selectDate" style="" hidden>
            </div>
            <div class="calendar" style="">
            </div>

            <div class="selectTime" style="">

            </div>

            <div class="recordForm" style=""></div>
        </div>
    </div>

<script>

</script>