@model pre_registration.Models.DataBaseModel.Order
    <script>
        $('.backToSelectTime').click(function () {
            $('.recordForm').hide();
            $(".selectTime").show();
            $('.selectTime').load('@Url.Action("returnToSelectTime", "Home")');
        });
        $(document).ready(setCheckOutBar());
        $(document).ready(function () {
            $(".g-recaptcha").show();

        });

        $('#mainRecordForm').submit(function () {
            var errorCount = 0;
            if ($("#Client_UserData_LastName").val().length < 1) {
                $("#Client_UserData_LastName").css("border-color", "red");
                $("#Client_UserData_LastName").css("border-width", "2px");
                errorCount++;
            }
            if ($("#Client_UserData_FirstName").val().length < 1) {
                $("#Client_UserData_FirstName").css("border-color", "red");
                $("#Client_UserData_FirstName").css("border-width", "2px");
                errorCount++;
            }
            if ($("#Client_UserData_SecondName").val().length < 1) {
                $("#Client_UserData_SecondName").css("border-color", "red");
                $("#Client_UserData_SecondName").css("border-width", "2px");
                errorCount++;
            }
            if ($("#Client_UserData_Phone").val().length < 1) {
                $("#Client_UserData_Phone").css("border-color", "red");
                $("#Client_UserData_Phone").css("border-width", "2px");
                errorCount++;
            }
            if ($("#Client_UserData_EmailAdress").val().length < 1) {
                $("#Client_UserData_EmailAdress").css("border-color", "red");
                $("#Client_UserData_EmailAdress").css("border-width", "2px");
                errorCount++;
            }
            if ($("#Comment").val().length < 1) {
                $("#Comment").css("border-color", "red");
                $("#Comment").css("border-width", "2px");
                errorCount++;
            }
            if (!checkCapcha()) {
                $(".capchaValidation").show();                
                errorCount++;

            }
            if (errorCount != 0) {
                return false;

            }
          

        });

        function checkCapcha() {
            var result;
            $.ajax({
                async: false,
                url: '/home/checkCapcha?recaptchaResponse=6LcdnGIUAAAAAOSv914w9CcbgrV41KTNeUGUxi9-',
                type: 'GET',
                contentType: "application/json",
                success: function (data) {
                    result = data;
                }
            });
            return true;

        }
    </script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<div>
    <br />
    @*<h2>Заполните форму</h2>*@
    @*<a class="backToSelectTime">Вернуться к выбору времени</a>*@
    <form method="post" id="mainRecordForm" asp-action="recordForm" asp-controller="Home">
        <div>
            <label asp-for="Client.UserData.LastName"></label><br />
            @if (ViewBag.order != null)
            {
                <input asp-for="Client.UserData.LastName" value="@ViewBag.order.Client.UserData.LastName" />
            }
            else
            {
                <input asp-for="Client.UserData.LastName" />
            }
            <span asp-validation-for="Client.UserData.LastName"></span>
        </div>
        <div>
            <label asp-for="Client.UserData.FirstName"></label><br />
            @if (ViewBag.order != null)
            {
                <input asp-for="Client.UserData.FirstName" value="@ViewBag.order.Client.UserData.FirstName" />
            }
            else
            {
                <input asp-for="Client.UserData.FirstName" />
            }
            <span asp-validation-for="Client.UserData.FirstName"></span>
        </div>
        <div>
            <label asp-for="Client.UserData.SecondName"></label><br />
            @if (ViewBag.order != null)
            {
                <input asp-for="Client.UserData.SecondName" value="@ViewBag.order.Client.UserData.SecondName" />
            }
            else
            {
                <input asp-for="Client.UserData.SecondName" />
            }
            <span asp-validation-for="Client.UserData.SecondName"></span>
        </div>
        <div>
            <label asp-for="Client.UserData.Phone"></label><br />
            @if (ViewBag.order != null)
            {
                <input asp-for="Client.UserData.Phone" value="@ViewBag.order.Client.UserData.Phone" />
            }
            else
            {
                <input asp-for="Client.UserData.Phone" />
            }
            <span asp-validation-for="Client.UserData.Phone"></span>
        </div>
        <div>
            <label asp-for="Client.UserData.EmailAdress"></label><br />
            @if (ViewBag.order != null)
            {
                <input asp-for="Client.UserData.EmailAdress" value="@ViewBag.order.Client.UserData.EmailAdress" />
            }
            else
            {
                <input asp-for="Client.UserData.EmailAdress" />
            }
            <span asp-validation-for="Client.UserData.EmailAdress"></span>
        </div>
        <div>
            <label asp-for="Comment"></label><br />
            <input asp-for="Comment" />
            <span asp-validation-for="Comment"></span>
        </div>
        <div>
            <div class="capchaValidation" style="display:none;">Вы не прошли проверку безопасности. Пожалуйста, повторите ещё раз.</div>
            <div style="display:table;margin:0 auto;" class="g-recaptcha" data-sitekey="6LcdnGIUAAAAAOSv914w9CcbgrV41KTNeUGUxi9-"></div>
            <input class="submintButton" type="submit" value="Записаться" />
        </div>
    </form>
</div>