<div>
    <h2>Выберите район</h2>
    @*<select asp-items="ViewBag.AreasList" class="selectAreaList">
            <option disabled selected>Выберите район</option>
        </select>*@
    <br />
    <div>
        @for (int i = 0; i < ViewBag.AreasList.Count; i++)
        {
           
                <div class="newButton" onclick="showCalendar(@ViewBag.AreasList[i].Id)">
                    <table class="selectAreaTable">
                        <tr>
                            <td>@ViewBag.AreasList[i].Name</td>

                        </tr>
                        <tr>
                            <td>@ViewBag.AreasList[i].Adres</td>
                        </tr>
                    </table>
                    @*@ViewBag.AreasList[i].Name <br /><br />
                    @ViewBag.AreasList[i].Phone*@

                </div>
                <br />
               
            @*}
            else
            {
                <br />
                    <div class="newButton " style=" width:30%;"  onclick="showCalendar(@ViewBag.AreasList[i].Id)">
                        <table class="selectAreaTable">
                            <tr>
                                <td>@ViewBag.AreasList[i].Name</td>
                                <td>@ViewBag.AreasList[i].Adres</td>
                            </tr>

                            <tr><td>@ViewBag.AreasList[i].email</td><td>@ViewBag.AreasList[i].website</td></tr>
                            <tr>
                                <td>@ViewBag.AreasList[i].Phone</td>
                                <td>@ViewBag.AreasList[i].WorkTime</td>

                            </tr>
                        </table>
                    </div>
                  
            }*@
        }
        @*@foreach (var item in ViewBag.AreasList)
            {
                <div class="newButton" onclick="showCalendar(@item.Id)">

                        @item.Name <br />
                        @item.Phone

                </div>
            }*@
    </div>
</div>
<script>

    $(document).ready(function () {
        setCheckOutBar();
        var SelectedDate = new Date(@ViewBag.SelectedDate.Year, @ViewBag.SelectedDate.Month, @ViewBag.SelectedDate.Day);
        var SelectedArea = '@ViewBag.SelectedArea'
        var SelectedCupon = getSelectedCupon();
        if (SelectedCupon.id != 0) {
            selectCuponTime(SelectedCupon.id);
            showAreaInfo(GetArea().id)
            return;
        }
        if (SelectedDate.getFullYear() != 1901) {
            $('.selectTime').load('@Url.Action("viewTime", "Cupon", new { selectedDay = ViewBag.SelectedDate})' + '&areaId=' + SelectedArea );
            showTime();
            showAreaInfo(GetArea().id)
        }
        else {
            if (SelectedArea.length > 0) {

                showCalendar(SelectedArea);
                showAreaInfo(GetArea().id)
            }
        }
    });
    function seclectArea(index)
    {
        console.log(index);

    }
            $('.selectAreaList').change(function (e) {
                if ($('.selectAreaList').prop('selectedIndex') != 0)
                {

                    var selectedArea = $('.selectAreaList').val();
                    selectedArea = encodeURIComponent(selectedArea);
                    showCalendar(selectedArea);
                    console.log(selectedArea);

                }
    });
            function showTime()
            {
                $(".selectArea").hide();
                $('.selectTime').show();
            }
        function showCalendar(id)
        {
            $(".selectArea").hide();
            $(".selectDate").show();
            $('.selectDate').load('@Url.Action("viewCalendar", "Cupon")?areaId=' + id)
            showAreaInfo(id);
    }

    function showAreaInfo(id)
        {
        $(".areaInfo").show();
        $('.areaInfo').load('@Url.Action("showAreaInfo", "Home")?areaId=' + id);

            }
     function selectCuponTime(id) {
         $('.recordForm').load('@Url.Action("recordForm", "Home")' + '?id=' + id);
         $(".selectArea").hide();
            $(".selectTime").hide();
            $(".selectDate").hide();
            $('.recordForm').show();

        }
</script>