<div>
    @*<h2>Выберите район</h2>*@
    @*<select asp-items="ViewBag.AreasList" class="selectAreaList">
            <option disabled selected>Выберите район</option>
        </select>*@
    <br />
    <div class="areaButtons" style="">
        @for (int i = 0; i < ViewBag.AreasList.Count; i++)
        {
            if (i % 2 != 0)
            {

                <div class="newButton rightAreaButton" style="" onclick="showCalendar(@ViewBag.AreasList[i].Id)">
                    <table class="selectAreaTable">
                        <tr>
                            <td>
                                <b> Служба «одно окно» <br />  </b>
                                @if (Helpers.GetCulture(Context) == "be")
                                {
                                    <b>@Helpers.getAreaNameDeclinationBY(ViewBag.AreasList[i].NameBY)</b>
                                }
                                else
                                {
                                    <b> @Helpers.getAreaNameDeclination(ViewBag.AreasList[i].Name)</b>
                                }

                            </td>

                        </tr>
                        <tr>
                            <td><b>
                            @if (Helpers.GetCulture(Context) == "be")
                            {
                                @ViewBag.AreasList[i].AdresBY
                            }
                            else
                            {
                                @ViewBag.AreasList[i].Adres
                            }
                        </b></td>
                        </tr>
                    </table>
                </div>
            }
            else
            {

                <div class="newButton leftAreaButton" style=" " onclick="showCalendar(@ViewBag.AreasList[i].Id)">
                    <table class="selectAreaTable">
                        <tr>
                            <td><b>
                                Служба «одно окно» </b><br />
                                @if (Helpers.GetCulture(Context) == "be")
                                {
                                    <b>@Helpers.getAreaNameDeclinationBY(ViewBag.AreasList[i].NameBY)</b>
                                }
                                else
                                {
                                    <b> @Helpers.getAreaNameDeclination(ViewBag.AreasList[i].Name)</b>
                                }
                            </td>

                        </tr>
                        <tr>
                            <td><b>

                                @if (Helpers.GetCulture(Context) == "be")
                                {
                                    @ViewBag.AreasList[i].AdresBY
                                }
                                else
                                {
                                    @ViewBag.AreasList[i].Adres
                                }

</b> </td>
                        </tr>
                    </table>
                </div>
            }

        }

    </div>
</div>
<script>

    $(document).ready(function () {
        setCheckOutBar();
        var SelectedDate = new Date(@ViewBag.SelectedDate.Year, @ViewBag.SelectedDate.Month, @ViewBag.SelectedDate.Day);
        var SelectedArea = '@ViewBag.SelectedArea'
        var SelectedCupon = getSelectedCupon();
        if (SelectedCupon.id != 0) {
            selectCuponTime(SelectedCupon.id);
            showAreaInfo(GetArea().id)
            return;
        }
        if (SelectedDate.getFullYear() != 1901) {
            $('.selectTime').load('@Url.Action("viewTime", "Cupon", new { selectedDay = ViewBag.SelectedDate})' + '&areaId=' + SelectedArea );
            showTime();
            showAreaInfo(GetArea().id)
        }
        else {
            if (SelectedArea.length > 0) {

                showCalendar(SelectedArea);
                showAreaInfo(GetArea().id)
            }
        }
    });
    function seclectArea(index)
    {
        console.log(index);

    }
            $('.selectAreaList').change(function (e) {
                if ($('.selectAreaList').prop('selectedIndex') != 0)
                {

                    var selectedArea = $('.selectAreaList').val();
                    selectedArea = encodeURIComponent(selectedArea);
                    showCalendar(selectedArea);
                    console.log(selectedArea);

                }
    });
            function showTime()
            {
                $(".selectArea").hide();
                $('.selectTime').show();
            }
        function showCalendar(id)
        {
            $(".selectArea").hide();
            $(".selectDate").show();
            $('.selectDate').load('@Url.Action("viewCalendar", "Cupon")?areaId=' + id)
            showAreaInfo(id);
    }

    function showAreaInfo(id)
        {
        $(".areaInfo").show();
        $('.areaInfo').load('@Url.Action("showAreaInfo", "Home")?areaId=' + id);

            }
     function selectCuponTime(id) {
         $('.recordForm').load('@Url.Action("recordForm", "Home")' + '?id=' + id);
         $(".selectArea").hide();
            $(".selectTime").hide();
            $(".selectDate").hide();
            $('.recordForm').show();

        }
</script>