@model pre_registration.Models.Area

<div>
    <h2>@Model.Name</h2>
    <h4><a asp-controller="Home" asp-action="GetMap" asp-route-areaId="@Model.Id" class="showMap">@Model.Adres</a></h4>
    <div>
        <p>Время работы</p>
        <table align="center" cellspacing="10" class="workTimeTable">
            <tr>
                <td><b>ПН-ПТ</b></td>
                <td>08:00 - 20:00</td>
            </tr>
            <tr>
                <td style="text-align: right;"><b>СБ</b></td>
                <td>09:00 - 13:00</td>
            </tr>
        </table>
        <table style="width:100%">
            @{
                string[] phones = Model.Phone.Split(", ");
                foreach (var item in phones)
                {
                    <tr>
                        <td><img src="~/images/tel.png" width="30" /> @item</td>
                    </tr>
                  
                    
                }
            }
            @*<tr>
                <td> <img src="~/images/email.png" width="25" style="float:left; position:absolute;" /><a  style="float:left;" href="mailto:@Model.email">@Model.email</a>  </td>
            </tr>*@
        </table>
        <br />
       
    </div>
</div>


<script>
    function showCalendar(id)
        {
        $(".areaInfo").hide();
            $(".selectDate").show();
            $('.selectDate').load('@Url.Action("viewCalendar", "Cupon")?areaId=' + id)
    }

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".showMap").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
