@model pre_registration.Models.ViewModels.AddUserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
<script>
    $(function () {
        $("#Phone").mask("+375 (99) 999-99-99");
    });
    $(document).ready(function () {
        $(".g-recaptcha").show();

    });
</script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<h2 class="titleHeadRow">@Localizer["Header"]</h2>
<div class="validation" asp-validation-summary="ModelOnly"></div>
<form method="post" asp-controller="Account" asp-action="Registration" class="contentForm">

    <div>
        <label>@Localizer["EmailAdress"]</label><br />
        <input asp-for="Login" />
    </div>
    <div>
        <label>@Localizer["LastName"]</label><br />
        <input asp-for="LastName" />
    </div>
    <div>
        <label>@Localizer["FirstName"]</label><br />
        <input asp-for="FirstName" />
    </div>

    <div>
        <label>@Localizer["SecondName"]</label><br />
        <input asp-for="SecondName" />
    </div>
    <div>
        <label>@Localizer["Phone"]</label><br />
        <input asp-for="Phone" />
    </div>
    <div>
        <label>@Localizer["Password"]</label><br />
        <input asp-for="Password" />
    </div>
    <div>
        <label>@Localizer["PasswordConfirm"]</label><br />
        <input asp-for="PasswordConfirm" />
    </div>
    <div class="capchaValidation">
        <div style="display:table;margin:0 auto;" class="g-recaptcha" data-sitekey="6LcdnGIUAAAAAOSv914w9CcbgrV41KTNeUGUxi9-"></div>
    </div>
    <div>
        <input type="submit" value="@Localizer["Registration"]" />
    </div>
</form>

